Clique em algo para renderizar

<div id="marine-coin"> 
    <pre>                                                                                                
                                                .:..................                                               
                                            ...:......................:::.:                                         
                                    ...:::::..............................:::..:                                   
                                :.:...........:....@@%:::#@@@@@@@@*:...........:::..                               
                                .::........=@@@@:...@%...:@@@#%@@@@@@@@@@@@@+.........:.:                            
                            .::::.....*@..@@@@:...:@...%@@@**#########%#%##@@@@@........::..                         
                        :..:......=@@@..@@@@:....@....*@#*########%####%%%%%#%@@@#........:..:                      
                        ::......@@@@@@@.*@@@.....@....%@@*#########%##%#%%%%%%%##@@@@*.@:.....::                     
                    .:::....=@@@@%%@@..@=@@....@....@@@**############%#%%%%%%%%@%##@@@#..:....:::.                  
                    :.:.....-@@@@%@%@@:.@@@@....@%...:@@*#########%######%%%%@@%%%@%%%%@@@%::..:...::.                
                .........+@@@%%%%@+..@+@#...@@...@@@**#########%####%@@@@@@%%%%@%%@@%%@@@@...:....:.               
                ..:........%@@@%%%@@..*@@%...:@....@%*#############%%@@#*******#*####%#@%%#@@@@......::.             
                .:..........@@@@@%%@@..@@@....@:...@@#*##########%%%@%**+**#####++*#%@@####%%%@@@@:.....::.           
            ::...........@@@@@%%@*..@*@...*@....@@##%%###%##%@@@#++**##*++*@@@@@@@@@@@@@%####*@@@@....:..          
            ::.............@@@@@%@@:.%@*@...%....@@*##%#####%@@%=-*##*#*+#@@@@=..........%@@@@@@@@%@@=...::.         
            ................@@@%@%@@..@@*@..@@-..@@+#%######%@%:.=%%**=+@@@@............:++@@@@@@@@@@@@@......        
        .:...............@@@%@%@@..@@@@@.....:@@#@%%%%#%@@-:=+*##++@@@...........@@@@@@%+=+@@@@@@@@@@@:...:.       
        ..:...............@@@%@%@#.:@@...@..%@@@#%%%%%%@%*=*%%#=-*@@@.........@@@##@@%@@*======#@@@@@@@@......      
        .:.................@@@#@@@=.*@:.#.-@@@@#%@%%%%@@%##%%*++@@@@.......=#@@*+-======@%@@%#+===#@@@@@@-....:.     
        ::.................%@@%%@@:.%@@@@@@@=@@@%%%@@@@#*#%#*+@@@-....-@@@@@-=--=====*@@@##@@@%@@@*@=..........:.    
        .:..................%@@%#%@..@@.........@@%%@@%####*+@@@:..:@@@%+--=%=-=====+===++%#+*@@#@@=...-........::    
    :::..................:@%%#@@..@@:......@@@@@@@##%##@@@@:.=#@@=::=++--+#-=++==++==@#%@%+%@%...@@@@=-=........   
    ::...................@@%%#@@..@@@@@@@@@#@%@@@%#%#@@@*-===*+=*+%*=##*==@+-+===+**+@@@%#*%@.-@##@%=:.........:   
    ::.................*@@@#%#@*..@@@@%...@@@%@@%%%@@@==:-#..-+=.=*@+:+@@@@#-+++-=*##@+@@#*%@--@...............:.  
    .:................@@@@@%#%*@:.@@@@...@...@@##%@@@=:...:@+==#@@@-@@=..@@@@-++*+=*%@@.@@@@@@%.@:..............::  
    .:..............@.@@@@@##%#@..#@@@...@...@@@@@@===%%=*+##-+@:...@#@=....#*+#@*=+@@..@@:.:..=-@..............:.  
    .:.............=.%@@@@@@#%@@..@@@...%@...%@@@++@#==#*#++@++@@@@....+@@@%#@*##+=*@@-@.....%@#-=#..............:. 
    ::...+@#........::-@*..@@@#@:.#@@%...@@..*@@@@.:@@+=**++=@@#%*..=@@@@@@@@%@%%*=+@@::@%@....@@+-*@.............:. 
    .:...-@@@@........@......@@@.%@@@@+.:@%.*@@-=@**@@@+=%*%*%@@=..@@:@@%+=-..@#*+*@@@....@....*%@=:#@+...........:: 
    .:...:@@@@@@.......:@@@@@.-@:@@@@#:*@+.@@@=..@@:@@@+-=+#+#:*-.....@...:..@@==@@@-*@@*@#.....@*@+-=..@@........:: 
    .....=@@@@@@@....=+-:...=+..@@@@@#=@#=@+*@@@....@@@@@@.=@@=............-++#@@@-....@.........@%@#==:..@@:....... 
    .:...:@@@@@@@@@...............:@@@@@*=@@*%@@@@@@%*@@@:..............::..+%%@........@.........%@@@+=+....@@:..:: 
    .:...:@@@@%%#@@@@......::.=.=..-.......%%@#:@#%@@@@:......................-:........*%..........@@@@==%.......:. 
    :::...@@@@@@@%%@@@:...@+.@.......@@@......+@@@@@@........................:...........@............@@@@==*-....:. 
    ::...@@@@@@@@@%#@@@:@.....@..+@=:@@...+.................................#...........**.............@@@@#*...::: 
    .....@@@@@@@@@@@%%@@@@@@@@%.@:...@@....:....................*@@.......-.............:@...............:@@@:..:.  
    .:....@@@@@@@@%@@@%%%%%@@@@@@@@@:.@.:-.:....%........+@@@@@@@#......:................@.................:+...::  
    .:...@@@@@@@@@@@@@@@@@@@@%@@#@@.:@..+.=@@....@=........:--.......+:................:@.....................::.  
    ::...-@@@@@@@@@@@@@@@@@@@@@@%@%.=@..:=.:*@.:@@@@@@............:=...................##.....................::   
        ::...@@@@@@@@@@@@@@@@@@@@@@%@%.=@...==:-#*.%@==@@@==.......*@.....................@.....................:..   
        ..:...@@@@@@@@@@@@@@@@@@@@@%@%.=@....=@::.=@@@@==@@@@@@@@@@@@...................=@......................:.    
        .:...-@@@@@@@@@@@@@@@@@@@@#@%.=@...+:..::.@#=+@%===@@.:-@%..=*+............#@@@.......................::     
        ::....*@@@@@@@@@@@@@@@@@@@%@*.#@..=@......@@@@@@@@@+...:...:::....:..................................:..     
        ......@@@@@@@@@@@@@@@@@@@%@=-@=..:.......@@====+@@**@@#*-+.:-%.....*...............................:..      
        :.....:@@@@@@%%%%%%%%@@%@@--@..-*.......#@@%%*=+@@....*@@:..:@-.....*...............................       
            ..::..:@@@%@@@%@%%@@@@%@%.=+.#@@@@.....@=*%%@@@%@@-%@@=#@*...-+.....-...........................:.        
            ::....@@@%%%%##@@@@@%@*:=:=@%*@@@@@..:@-@%==*==@@@#*#=-@@....+...........+@@@@@@@:.........::::         
            .::...-@@@@@@@@@@@%@@.=%@@*+**...@@@.=@@@=.=@*@%@%+*@#-@@....::.....%@@@@%#*#@@@@@@@:.....:.           
                ..:....@@@@@@@@@@#@#.=@%****@@........@@@@=%#%%@@*=#@@@@@.....:..*@@@#%@@@@@@:%@@@@@@-.::.            
                .::....@@@@@@@%@@.:*@++*+++@@-.........@@-##**@%=+@:-*%@......@@@@@@*..........+@@@@#::             
                .:......@@@@%#@*.+@+++***+=@@#.........@*.@@@*#+=@@..#@@....@@@@:.=@#@@@@@:.....@@@@@@             
                    ..::....@@@@@.=**++++++++=%@@........-@::@@@@@+==*+==%%..%@%@....*@@#%%@=.....:@%##+             
                    .:::....-@*=%%++++++==++=*@@........@@=.-+=#@@@@@@@%@@@@@@@.....@@@#%*-=*:.:.@%##*:            
                        :.:......#@@%*+=======+==@@.......:-@@+=++:..-#@@@#..#%@%....+@@@@@@@@@@   @####=            
                        ..::......-%@%##*+==++==@%.......+:@@@%##*+-.--::+%#@%@........%@::.     +###*             
                            .::.:......#-*@@#*++=+@+......*:%#***+===-::-*@@.@@@#....:::@@@@     -*###+             
                                ...:.........=@@@@@@@*.....@%@@@@%%#####%*-...@@@@@.:..:         +*###%              
                                    :.:.:............::.....**#=:...............-@@@@@@@@     -=+*%####+              
                                        ...::::...........................::::..+%%#%%%*+===*########%#%*+           
                                            :.:::::.............:::....:        =+*##########*=##%######**         
                                                    ..:.......::                   ---==-==--=   #*#######*=       
                                                                                                    =+#######*-      
                                                                                                    +*#####*:      
                                                                                                        :-====        
    </pre>
</div>